.card-body.calendar #bargraph {
  display: none !important;
}

.toggle-weekend-container button {
  padding: 10px 35px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  margin: 10px 2.5px;
  cursor: pointer;
}

.fc-state-default {
  border: 0 !important;
}

#calendar button:focus {
  outline: 0 !important;
}

.fc-time-grid-event.fc-short .fc-content {
  color: #000 !important;
}

.fc th.fc-widget-header {
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 135px !important;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 175px !important;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 250px !important;
  }
}
