.card-body.calendar #bargraph {
  display: none !important;
}

.toggle-weekend-container button {
  padding: 0 0.5em !important;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #007a9a;
  color: #fff;
  font-size: 12px !important;
  font-weight: bold;
}

.fc-state-default {
  border: 0 !important;
}

#calendar button:focus {
  outline: 0 !important;
}

.fc-time-grid-event.fc-short .fc-content {
  color: #000 !important;
}

.fc th.fc-widget-header {
  font-size: 12px;
}

.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after {
  color: #fff;
}

.fc-today-button,
.fc-agendaWeek-button {
  text-transform: capitalize;
}

.fc-state-default {
  border-color: #007a9a !important;
  text-shadow: none !important;
  background-color: #007a9a !important;
  color: #fff !important;
  background-image: none !important;
}

.fc .fc-button-group > :first-child {
  margin-right: 5px;
}

.fc-view-container {
  position: relative;
}

.toggle-weekend-container {
  position: absolute;
  top: -5px;
  right: 15px;
  z-index: 111;
}

@media screen and (max-width: 1500px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 192px !important;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 235px !important;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
  .fc-scroller.fc-time-grid-container {
    max-height: 312px !important;
  }
}
